{% extends 'base.twig' %}

{% block body %}
<div class="container">
    <h1 class="mb-3 mt-3">ALL MY LINKS</h1>
    <div class="container row">
        <div class="p-2">
            <div class="card" style="width: 18rem">
                <img src="https://sun9-5.userapi.com/impg/3mbJY6Rn326WiQOKNYr8ZD-gwGt90Dgd9lk9Lw/eQD-EXuS0_k.jpg?size=1620x2160&quality=95&sign=c491af8753caf91a3e70dd46fcd23548&type=album" height="300" class="card-img-top" alt="...">

                <div class="card-body">
                    <nav>
                    <a class="navbar-brand" href="#">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/2048px-VK_Compact_Logo_%282021-present%29.svg.png" width="40" height="40" class="" alt="">
                    </a>
                    </nav>>
                    <p class="card-text">Социальная сеть</p>
                    <a href="#" class="btn btn-primary"> Перейти</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" style="width: 18rem">
                <img src="https://sun9-32.userapi.com/impg/7AM_KRwk4lVvLqW3OZWHFSChN98Q5jnn--LEww/djclxMMc7oQ.jpg?size=1620x2160&quality=95&sign=8d0e177b32d51e9474b49d7caa915e30&type=album" height="300" class="card-img-top" alt="...">

                <div class="card-body">
                    <nav>
                    <a class="navbar-brand" href="#">
                        <img src="https://w7.pngwing.com/pngs/446/863/png-transparent-instagram-logo-icon-thumbnail.png" width="40" height="40" class="" alt="">
                    </a>
                    </nav>
                    <p class="card-text">Социальная сеть</p>
                    <a href="#" class="btn btn-primary"> Перейти</a>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" style="width: 18rem">
                <img src="https://sun9-45.userapi.com/impg/X2EBgW2DAd2QLOOGxr2W82EoKzmU70olVkZ9bg/jdC4QNnRBgA.jpg?size=1620x2160&quality=95&sign=d6a637cbfe0aa5bf3f0a0c2d6b6d5e1e&type=album" height="300" class="card-img-top" alt="...">

                <div class="card-body">
                    <nav>
                    <a class="navbar-brand" href="#">
                        <img src="https://www.vhv.rs/dpng/d/464-4644573_github-logo-png-github-transparent-png.png" width="40" height="40" class="" alt="">
                    </a>
                    </nav>
                    <p class="card-text">Хостинг IT проектов</p>
                    <a href="#" class="btn btn-primary"> Перейти</a>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="p-2">
                <div class="card" style="width: 18rem">
                    <img src="https://sun9-58.userapi.com/impg/xCBBdgBb9Wkfc2k-d7ZLG1t_n1Wl3ZKiE2x7tg/s6d5fbPzazY.jpg?size=1620x2160&quality=95&sign=0f34dd1569485be248f7d808f36931f5&type=album" height="300" class="card-img-top" alt="...">

                    <div class="card-body">
                        <nav>
                        <a class="navbar-brand" href="#">
                            <img src="https://w7.pngwing.com/pngs/636/338/png-transparent-telegram-hd-logo.png" width="50" height="50" class="" alt="">
                        </a>
                        </nav>
                        <p class="card-text">Мессенджер</p>
                        <a href="#" class="btn btn-primary"> Перейти</a>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem">
                    <img src="https://sun9-18.userapi.com/impg/kvAhEniaSsRCeAsoett3lseRtFMENTyhl_eyJQ/IwwujuGZpuU.jpg?size=1430x2160&quality=95&sign=304039a5a13ed6dd29121b254ae2c353&type=album" height="300" class="card-img-top" alt="...">

                    <div class="card-body">
                        <nav>
                        <a class="navbar-brand" href="#">
                            <img src="https://w7.pngwing.com/pngs/951/507/png-transparent-official-gmail-icon-2020-hd-logo.png" width="50" height="50" class="" alt="">
                        </a>
                        </nav>
                        <p class="card-text">Почта</p>
                        <a href="#" class="btn btn-primary"> Перейти</a>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="card" style="width: 18rem">
                    <img src="https://sun9-19.userapi.com/impg/9MdYFVAjoNrYx6wziZj-ygPbaRHmJTZnteHWPQ/3GKcMhcFW2c.jpg?size=720x1280&quality=95&sign=0061aafa65563acf7ea126ade24a006b&type=album" height="300" class="card-img-top" alt="...">

                    <div class="card-body">
                        <nav>
                        <a class="navbar-brand" href="#">
                            <img src="https://e7.pngegg.com/pngimages/699/999/png-clipart-brand-logo-steam-gump-s.png" width="48" height="48" class="" alt="">
                        </a>
                        </nav>
                        <p class="card-text">Игровая платформа</p>
                        <a href="#" class="btn btn-primary"> Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}